@import '../../../../styles/variables';

.featured-in-container {

    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $mobileScreen) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .featured-in-title {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h2 {
            color: #0C1E4E;
            letter-spacing: 0px;
            font: normal normal 600 35px/35px IBM Plex Sans;

            @media screen and (max-width: $mobileScreen) {
                font: normal normal 600 30px IBM Plex Sans;

            }
        }

        .featured-in-underline {

            border-bottom: 4px solid #208CE1;
            width: 57px;
            height: 2px;
        }
    }

    .featured-in-image-container {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;

        @media screen and (max-width: $mobileScreen) {
            margin-top: 1rem;
            max-width: 100vw;
            overflow: auto;
            padding-bottom: 10px;
            justify-content: start;

        }

        img {
            margin-right: 1rem;
            width: 12.5vw;
            min-width: 179px;
            margin: 0px 3vw;

            @media screen and (max-width: $mobileScreen) {
                width: 3.5vw;
                min-width: 130px;

            }
        }

    }
}