.main {
  background-image: url("../../../assets/microsite/contact-background.svg");
  padding: 140px 0 120px;
  img {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .main {
    padding: 45px 0;
    img {
      max-width: 90%;
    }
  }
}