body {
  background-image: url("../../assets/signin/bg.svg");
}

.signin_form_align {
  max-width: 520px;
  width: 100%;
  padding: 9% 70px 7%;
  font-family: "IBM Plex Sans";
  border-radius: 3px;
}

.signin_form_align .signin_header_align {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.signin_form_align .siginin_mobile :global .react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #f2f7fa !important;
  border: none;
  border-radius: 3px;
  line-height: 25px;
  height: 50px;
  width: 100%;
  outline: none;
}

.signin_form_align .siginin_mobile :global .react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #f2f7fa !important;
  border: none !important;
  border-radius: 3px;
}

.signin_form_align .siginin_mobile :global .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signin_form_align .siginin_mobile :global .react-tel-input .selected-flag:focus,
.signin_form_align .siginin_mobile :global .react-tel-input .selected-flag:hover {
  background-color: #f2f7fa !important;
}

.signin_form_align .signin_input_field {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  background: #f2f7fa;
  color: #162d43;
  border: none;
  opacity: 1;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin_form_align .signin_input_field .signinPasswordInput {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f2f7fa;
  border: none;
}

.signin_form_align .signin_input_field .signinPasswordInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field .signinPasswordInput::-moz-placeholder {
  /* Firefox 19+ */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field .signinPasswordInput:-ms-input-placeholder {
  /* IE 10+ */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field .signinPasswordInput:-moz-placeholder {
  /* Firefox 18- */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field .signinPasswordImg {
  max-width: 20px;
}

.signin_form_align .signin_input_field:focus {
  outline: none;
}

.signin_form_align .signin_input_field::-webkit-input-placeholder {
  /* Edge */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field::-ms-input-placeholder {
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field::placeholder {
  color: #b0bfc8;
  font-weight: 400;
}

.signin_form_align .signin_input_field .signin_mobile_input {
  background: #f2f7fa;
  border: none;
  border-left: outset;
  padding: 0 16px;
  width: 100%;
  background: #f2f7fa;
  color: #162d43;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.signin_form_align .signin_input_field .signin_country_code {
  background: #f2f7fa;
  color: #162d43;
  border: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.38px;
  background-size: 12px;
}

.signin_form_align .pswrd_input .signin_input_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
}

.signin_form_align .pswrd_input .signin_input_field input {
  padding: 0 45px 0 16px;
}

.signin_form_align .pswrd_input .signin_input_field .signinPasswordImg {
  position: absolute;
  right: 16px;
  top: 17px;
  cursor: pointer;
}

.signin_form_align .mob_flag_wrp {
  margin-bottom: 15px;
}

.signin_form_align .mob_flag_wrp .signin_input_field {
  padding: 0;
}

.signin_form_align .signin_google_button {
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #dae8f5 !important;
  border-radius: 3px !important;
  height: 50px;
  padding-left: 25px !important;
}

.signin_form_align .signin_google_button:hover {
  border: 1px solid #208ce1 !important;
  background: #f1f7fd !important;
  color: #208ce1 !important;
}

.signin_form_align .signin_google_button:hover div {
  background: #f1f7fd !important;
}

.signin_form_align .signin_google_button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  color: #99aec2;
  font-size: 15px;
  font-weight: 500;
  margin-left: -20px;
  font-family: "IBM Plex Sans";
}

.signin_form_align .signin_continue_btn {
  width: 100%;
  height: 50px;
  color: #162d43;
  background: white;
  opacity: 1;
  border-radius: 3px;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #dae8f5;
  margin-right: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.signin_form_align .signin_continue_btn:hover {
  background: #208ce1;
  color: #fff;
}

.signin_form_align .signin_continue_btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signin_form_align .signin_continue_btn1 {
  width: 100%;
  height: 50px;
  color: white;
  border: 1px solid #bac9d4;
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  background: #bac9d4;
}

.signin_form_align .signin_continue_btn1:hover {
  background: transparent;
  color: #208ce1;
  border: 1px solid #208ce1;
}

.signin_form_align .signin_continue_btn1:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signin_form_align .signin_continue_btn1_active {
  background-color: #208ce1;
  opacity: 1;
}

.signin_form_align .signin_checkbox_text {
  font-size: 15px;
  font-weight: normal;
  color: #6684a1;
  text-align: center;
}

.signin_form_align .signin_checkbox_text a {
  color: #208ce1;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 5px;
}

.signin_form_align .signin_checkbox_text a:hover {
  color: #162d43;
}

.signin_form_align .signin_form_label {
  font-size: 14px;
  color: #162d43;
  width: 100%;
  margin-bottom: 4px;
}

.signin_form_align .signin_form_label label {
  font-size: 14px;
  color: #121212;
}

.signin_form_align .signin_form_label input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signin_form_align .signin_form_label .signin_radiowrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin_form_align .signin_form_label .signin_radiowrp span {
  margin-right: 15px;
  font-size: 14px;
  color: #121212;
}

.signin_form_align .signin_form_label .signin_radiowrp :global .form-check-inline {
  margin: 0;
  padding: 0;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked,
.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked + label,
.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-right: 15px;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked + label:before,
.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 2px solid #d9dfef;
  border-radius: 100%;
  background: #fff;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked + label:before {
  border: 2px solid #208ce1;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked + label:after,
.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #208ce1;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.signin_form_align .signin_form_label .signin_radiowrp [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.signin_form_align .signin_form_label .signin_radioeach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin_form_align .signin_text_option {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #b7c6d5;
}

.signin_form_align .signin_text_option::after,
.signin_form_align .signin_text_option::before {
  background-color: #e6eff8;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 45%;
  margin: 0 5px;
}

.signin_form_align .signin_password_para {
  font-size: 12px;
  color: #aeaeae;
  margin: 5px 0 0;
}

.signin_form_align .signin_password_forgot {
  color: black;
  font-size: 14px;
  text-align: right;
  margin-bottom: 25px;
  margin-top: -9px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signin_form_align .signin_password_forgot:hover {
  color: #208ce1;
}

.signin_form_align .signin_error_msg {
  color: red;
  text-align: left;
  font-size: 13px;
  padding-top: 3px;
}

.signin_form_align .signin_error_msg1 {
  color: red;
  text-align: left;
  font-size: 13px;
  padding-top: 3px;
}

.signin_form_align .signin_btn_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin_form_align .errorMsg {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}

:global .is-invalid {
  border: 1px solid red !important;
}

@media screen and (max-width: 575px) {
  .signin_form_align {
    padding: 0;
  }
  .signin_form_align .signin_header_align {
    text-align: center;
  }
  .signin_form_align .signin_text_option::after,
  .signin_form_align .signin_text_option::before {
    width: 43%;
  }
  .signin_form_align .signin_password_forgot {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .signin_form_align .signin_continue_btn,
  .signin_form_align .signin_continue_btn1 {
    font-size: 15px;
  }
  .signin_form_align .signin_continue_btn {
    margin-right: 5px;
  }
  .signin_form_align .signin_continue_btn1 {
    margin-left: 5px;
  }
  .signin_form_align .signin_google_button {
    max-width: 100%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 380px) {
  .pswrd_input .signin_input_field .signinPasswordImg {
    right: 10px !important;
  }
}
/*# sourceMappingURL=signin.module.css.map */