.main {
  .fig_holder {
    display: flex;
    height: 497px;
    .imgsec1 {
      position: relative;
      width: 290px;
      .img3 {
        position: absolute;
        right: 0;
        margin-top: 30px;
      }
    }
    .imgsec2 {
      position: relative;
      margin-left: 25px;
      width: 200px;
      top: 90px;
      .img2 {
        position: absolute;
      }
      .img4 {
        position: absolute;
        top: 90px;
      }
    }
   
  }
  .mob_paymentTitle {
    display: none;
    h2 {
      color: #011d29;
      font-weight: 600;
      font-size: 35px;
      margin: 15px 0 30px;
      text-align: left;
    }
  }
}
@media screen and (max-width: 991px) {
  .main {
    text-align: center;
    .fig_holder {
      margin-top: 25px;
    }
    .mob_paymentTitle {
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .main {
    .mob_paymentTitle {
      h2 {
        font-size: 26px;
        margin: 10px 0 30px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .main {
    .fig_holder {
      display: none;
    }
  }
}


