.symptoms_main_heading {
  margin-top: 35.82px;
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #162d43;
  opacity: 1;
}
.CustomAccordion {
  // background: #eff8ff;
  border-radius: 7px;
  margin-top: 20.43px;
}

.medications_accordion_align {
  // background: #EFF8FF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  margin-top: 20.43px;

  :global .accordion-item {
    border: 0;
    border-radius: 7px !important;
    margin-bottom: 10px;
    width: 90%;
  }
  .medication_accordion_repeat {
    position: relative;
    img {
      position: absolute;
      top: 15px;
      right: -42px;
      cursor: pointer;
    }
  }
  :global .accordion-button {
    background: #eff8ff;
    border-radius: 0 !important;
    box-shadow: none;
    height: 60px;
    border-radius: 0 !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    &.collapsed {
      background: #f5f5f5;
      border-radius: 7px !important;
    }
  }
  :global .accordion-collapse {
    background: #eff8ff;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
  }
  .medication_accordion_main_heading {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #162d43;
    font-weight: normal;
  }
  .medications_body_para {
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0px;
    color: #162d43;
    text-transform: capitalize;
  }
  .add_medicine_medicine_details {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  :global .accordion-body {
    padding: 0 25px 35px;
  }
  :global .accordion-button {
    padding: 1rem 25px;
    span {
      font-weight: 600;
    }
    &.collapsed {
      span {
        font-weight: 400;
      }
    }
  }
}
.error {
  color: #ff6262;
  font-size: 14px;
}
.inputError {
  margin-bottom: 5px !important;
  border: 1px solid #ff6262 !important;
  border-radius: 8px;
}

.add_medicine_medicine_details {
  margin-top: 16.5px;
  width: 100%;
  // min-height: 490px;
  background: #eff8ff;
  border-radius: 8px;
  opacity: 1;
  padding: 25px 26.75px 25px 25px;
  :global .form-group:last-child input {
    margin: 0 !important;
  }
  .add_medicine_align_contents {
    display: flex;
    justify-content: space-between;
    .add_medicine_align_col1,
    .add_medicine_align_col2 {
      width: 50%;
    }
    .add_medicine_align_col1 {
      margin-right: 8px;
    }
    .add_medicine_align_col2 {
      margin-left: 8px;
    }
  }
  .add_medicine_label {
    color: #162d43;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 9px;
    display: block;
  }
  .add_medicine_input_field {
    height: auto;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0px;
    color: #162d43;
    opacity: 1;
    width: 100%;
    height: 60px;
    border: 1px solid #a3c1de;
    border-radius: 7px;
    padding: 0 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    &::-webkit-input-placeholder {
      /* Edge */
      color: #5d7082 !important;
      // padding-top: 15px;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #5d7082 !important;
      // padding-top: 15px;
    }

    &::placeholder {
      color: #5d7082 !important;
      // padding-top: 15px;
    }
  }
  .add_medicine_input_field:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  .add_medicine_select_field {
    // color: #C9C9C9;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0px;
    opacity: 1;
    width: 100%;
    height: 60px;
    border: 1px solid #a3c1de;
    border-radius: 7px;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .add_medicine_frequency_select_field {
    // color: #C9C9C9;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0px;
    opacity: 1;
    width: 100%;
    height: 60px;
    border: 1px solid #a3c1de;
    border-radius: 7px;
    padding-left: 18px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .add_medicine_medicine_details {
    padding: 20px 15px;
  }
  .medications_accordion_align {
    :global .accordion-body {
      padding: 0 15px 20px;
    }
    :global .accordion-button {
      padding: 1rem 15px;
    }
  }
}
@media screen and (max-width: 480px) {
  .add_medicine_medicine_details {
    .add_medicine_align_contents {
      flex-direction: column;
      .add_medicine_align_col1,
      .add_medicine_align_col2 {
        width: 100%;
      }
      .add_medicine_align_col1 {
        margin-right: 0;
      }
      .add_medicine_align_col2 {
        margin-left: 0;
      }
    }
  }
}
