.mobile_book_appointment_align{
    padding: 22px 16px;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #0000000d; 
    position: relative;
    z-index: 15000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background: #fff;
    min-height: 67px;
    .mobile_filter_main_heading{
        width: 85%;
        font-size: 18px;
        font-weight: bold;
        color: #011D29;
        padding-left: 0;
    }
    .mobile_filter_close{
        float: right;
        width: 30px;
        padding-right: 0;
    }
}
.mobile_book_appointment_type{
    background: #ECF4F8;
    padding: 20px 16px 22px;
    display: flex;
    .mobile_book_appointment_icon{
        width: 51px;
    }
    .mobile_book_appointment_heading{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #162D43;
        opacity: 1;
        padding-right: 10px;
        flex: 1;
    }
    .book_appointment_select_field{
        font-weight: normal;
        font-size: 14px;
        border:none;
        letter-spacing: 0px;
        color: #000234;
        height: 50px;
        border-radius: 5px;
        padding: 0 16px;
        margin-bottom: 5px;
        width: 100%;
        font-weight: 500;
        background: white;
        margin-top: 20px;
        &:focus,&:focus-visible {
          outline: none;
        }
      }
}

.mobile_book_appointment_available{
    padding: 20px 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .availabletime_title{
        display: flex;
        align-items: center;
        flex: 1;
        padding-left: 0;
    }
    .mobile_book_appointment_icon{
        width: 24px;
    }
    .mobile_book_appointment_heading{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #162D43;
        opacity: 1;
        padding-left: 10px;
    }
    .mobile_book_appointment_button{
        background: #EAF4FC;
        font-size: 15px;
        font-weight: 600;
        width: 85px;
        color: #162D43;
        border: 0;
        padding: 0 10px;
        height: 36px;
    }


}
.mobile_book_appointment_date{
    padding: 0 6px ;
    &.last{
        margin-bottom: 50px;
        @media (max-width:360px){
            margin-bottom: 30px;
        }
        .appointment_time_wrapper{
            ul{
                border: 0;
            }
        }
    }
    p{
        color: #7A7B7E;
        font-weight: 600;
        span{
            color:#208CE1;
        }
    }
    .appointment_time_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;
       
        ul{
            padding:0 0 6px;
            margin-bottom: 23px;
            border-bottom: 1px solid #EBEBEB;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            li{
                padding: 0 7px 14px;
            }
        }
    }
    .mobile_book_appointment_time{
        max-width: 85px;
        min-width: 85px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        border-radius: 4px;
        border:1px solid #8DA2B5;
        color: #8DA2B5;
        background: white;
        font-size: 13px;
        @media (max-width:360px){
            max-width: 80px;
            min-width: 80px;
        }
    }
    .mobile_book_appointment_more{
        max-width: 85px;
        min-width: 85px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        border-radius: 4px;
        color: #162D43;
        background: #EAF4FC;
        border-color: #EAF4FC;
        font-size: 13px;
        font-weight: 500;
        @media (max-width:360px){
            max-width: 80px;
            min-width: 80px;
        }
    }
}
.mobile_book_appointment_request{
    padding: 0 16px ;
    p{
        padding: 0;
        color: #7A7B7E;
        font-weight: 600;
        span{
            color:#208CE1;
        }
    }
    hr{
        background-color:#EBEBEB ;
        opacity: 1;
    }
    .mobile_appointment_request_now{
        display: flex;
        align-items: center;
        height: 62px;
        border-radius: 6px;
        border: 1px solid #7AA1C4;
        justify-content: space-between;
        padding-left: 28px;
        padding-right: 20px;
        margin-bottom: 30px;
        @media (max-width:375px){
            padding-left: 15px;
            padding-right: 15px;
        }
        
        span{
            color:#208CE1;
            font-size: 16px;
            font-weight: bold;
            flex:1;
            margin-right: 10px;
        }
        .mobile_book_appointment_request_button{
            border-radius: 4px;
            border-color: #7AA1C4;
            background-color: #7AA1C4;
            color: #fff;
        }
    }

}