$smallScreen: 965px;
$mobileScreen: 965px;



.partner-hospitals-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: zoomIn .5s none;


    @media screen and (max-width: $smallScreen) {


        .for-web {
            display: none !important;
        }

        .for-tablet {
            display: flex !important;

        }
    }

    @media screen and (min-width: $smallScreen) {


        .for-web {
            display: flex !important;
        }

        .for-tablet {
            display: none !important;

        }
    }

    .plus-vector-back1 {
        position: absolute;
        top: 3%;
        left: -3%;
    }

    .vector-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 23px;
        margin-left: 8px;
    }

    .vector-container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;
        margin-right: 8px;
    }

    .partner-hospitals-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 2;

    }



    .partner-hospital-button {
        width: 220px;
        height: 78px;

        background: white;
        box-shadow: 0px 4px 5px #1389FF1A;
        border-radius: 10px;
        opacity: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        cursor: pointer;

        &:hover {
            img {
                -webkit-filter: grayscale(0%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                opacity: 1;
            }



        }

        img {


            max-width: 70%;
            -webkit-filter: grayscale(100%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            opacity: .5;
            transition-duration: .5s;
            object-fit: cover;

            &:hover {

                -webkit-filter: grayscale(0%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                opacity: 1;

            }
        }


        .hash-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(124, 124, 124, 0.473);
            border-radius: 10px;
        }

        @media screen and (max-width: $mobileScreen) {


            width: 100px;
            height: 60px;

        }


    }

    .view-all-hospitals {
        background-color: #3E97DE;
        color: white;



        .text {
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-weight: 600;

            @media screen and (max-width: $mobileScreen) {


                font-size: 12px;
                line-height: 12px;


                margin-right: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: 90%;

                span {
                    text-align: center;
                }

            }

            .icon {
                margin-left: 10px;

                @media screen and (max-width: $mobileScreen) {
                    margin-left: 0px;
                    margin-top: 5px;
                }
            }
        }


    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}