.home-container{
    background-color: #F4F6F8;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    padding: 0px 0%;
    padding-bottom: 15px;
  
}

.dr-name-home{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.dr-id-home{
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    margin-top: 2%;
}

.page-name-home{

    font-size: 23px;
    font-weight: 600;
    margin: 12px 10px;

}
.side-nav-container
{


display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;


border-radius:8px;
padding: 0px 1.5rem;

}


.home-side-nav{
    margin-top:30px;
}

.home-side-nav ul{
    list-style: none;
    padding: 0;
}

.home-side-nav li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: nowrap;
    padding: 10px 10px;
}

.home-side-nav li:hover{
    background-color: #ECF4F8;
}

.home-side-nav span{
    
    font-size: 16px;
    font-weight: 500;
   
}


.content-nav{

    padding: 2% 3%;
    text-align: center;

}

.content-nav ul{
    list-style: none;
    padding: 0;
    
}

.content-nav li{
   background-color: #E6EEF6;
   margin-bottom: 10px;
   padding: 5% 5%;
   border-radius: 4px;
   font-size: 13.75px;
   font-weight: 500;
   text-align: start;
   cursor: pointer;
   color: #496683;
   flex-wrap: nowrap;
 
}

.content-nav li:hover{
    background-color: #d3e2f1;
   
 }

 .home-form-item-heading{
     font-size: 13px;
     font-weight: 500;
     color:#020057 ;
     margin-bottom: 7px;
 }

 .home-form-item-sub{

    font-size: 12px;
    color:#797979 ;
    margin-bottom: 5px;
   

 }

 .dash-card{

    width: 100%;
    min-height: 21rem;
    max-height: 21rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 15px rgb(0 0 0 / 9%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

 }

 .dash-card-tittle{
     width: 100%;
     border-bottom: .5px solid rgb(233, 233, 233);
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 1rem 1rem;
     font-weight: 500;
     font-size: 15px;
 }

 .dash-card-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem;
    font-weight: normal;
    font-size: 14.5px;
    text-align: center;
    height: 90%;
    flex:1;
    overflow-y: auto;
    align-items: center !important;
}

 .dash-card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem .5rem;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 16px;
}

.home-content-scroll-container{
   
    overflow-y: auto;
    flex: 1;
}

.home-nav-active{
    background-color: #e3f6ff;
    border-left: 3px solid #00aaff;
}


.doctor-avatar{
    height: 75px;
    width: 75px;
    border-radius: 100px;
   
}

.doctor-avatar-name{
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 5px;
}


.doctor-avatar-caption{
    font-weight: normal;
    font-size: 13.5px;
    
}






@media only screen and (max-width:1239px) {

    .home-container{
       
        padding: 0px 0%;
        
    
    }

    .side-nav-container
    {

    padding: 0px 1.5rem;

    }

}









@media only screen and (max-width:767px) {
    .home-content-scroll-container{
        max-height: 80vh;
        overflow-y: scroll;
    }

 
    
  }


  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ececec;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
  }