.PrescriptionPolicy {
  .TopSection {
    background-image: url("../../assets/terms_bg.svg");
    height: 229px;
    color: #ffffff;
    display: flex;
    align-items: center;
    .Top_Head {
      color: white;
      font-size: 50px;
      font-weight: 600;
    }
  }
  .bottomSection {
    margin-top: 25px;
    margin-bottom: 90px;
    .Contents_wrapper {
      .Contents {
        .heading {
          padding-top: 20px;
          padding-bottom: 3px;
          color: #162d43;
          opacity: 1;
          font-weight: 600;
          font-size: 20px;
        }
        a {
          padding-left: 5px;
          text-decoration: none;
        }
      }
    }
  }
  p {
    font-size: 18px;
    color: #162D43;
  }
}
@media screen and (max-width:991px) {
  .PrescriptionPolicy {
    .TopSection {
      .Top_Head {
        font-size: 30px;
      }
    }
    .bottomSection {
      margin-top: 25px;
      margin-bottom: 50px;
      .Contents_wrapper {
        .Contents {
          .heading {
            font-size: 18px;
            padding-top: 5px;
          }
        }
      }
    }
    p {
      font-size: 14px;
    }
  }
}
