.c2md-home-menu-container {

    width: 100%;
    background: #F7FAFB 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 5rem;

    &_left {
        margin-right: 6rem;

        .c2md-home-menu-list {
            padding: 0px;
            margin: 0px;
            list-style: none;

            &_main_title{

                font-size: 16px;
                font-weight: 600;
                margin: 0px;
            }

            &_title {

                letter-spacing: .5px;
                color: #0C1E4E;
                margin: 0px;
                margin-bottom: .4rem;
                transition-duration: .5s;

            }

            &_caption {

                color: #000000;
                width: 294px;
                font-size: 14.5px;
                line-height: 1.7;
                

            }


            li {
                
                padding: 2rem 0px;
                border-bottom: 3px solid #EAEEF1;
                cursor: pointer;
                transition-duration: 2s;

            }

            .c2md-home-menu-list-active{
                border-bottom: 3px solid #208CE1;

                .c2md-home-menu-list_title{

                    color: #208CE1;
            
                }
            }
        }
    }

    &_right {
        &_image {
            width: 50vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            padding: 15px 0px;
        }
    }



}


.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}