.forDoctor {
  .topSection {
    background-image: url("../../assets/ForDoctor/fordocrorbg.svg");
    height: 690px;
    background-color: rgb(217, 244, 255);
    .topleft {
      background-image: url("../../assets/ForDoctor/lap.png");
    }
    .topRight {
      .joinusBtn {
        background-color: #208ce1;
        border-color: #208ce1;
        color: white;
        opacity: 1;
        padding: 13px 60px 13px 60px;
      }
    }
  }
}
