.badge-container{

    padding: .4rem .3rem;
    width: 115px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    font-weight: 500;
    font-size: 13px;
    color: rgb(41, 41, 41);
    flex-wrap: wrap;
    white-space: normal;
    text-align: center;
    line-height: 15px;
    min-height: 40px;
    
    
    
}

.completed-badge{

    background-color: #3CCC65;
    border-color: #3CCC65;
    color: white;
   
}

.pending-badge{

    background-color: #FFCF23;
    border-color: #FFCF23;
    color: #ffffff;
   
}

.upcoming-badge{

    background-color: #FFCF23;
    border-color: #FFCF23;
    color: #ffffff;
   
}

.error-badge{

    background-color: #d80000;
    border-color: #d80000;
    color: #ffffff;
   
}