.book_appointment_main_heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #162D43;
  opacity: 1;
}

.memberList {
  max-height: 225px;
  overflow-y: auto;
  padding-right: 5px;
}

.book_appointment_person_input {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  border: 2px solid #F5F5F5;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.book_appointment_person_input .book_appointment_person_img {
  position: absolute;
  top: -1px;
  left: -1px;
  background: #e2e2e2;
  width: 58px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.book_appointment_person_input .book_appointment_person_img .book_appointment_person_active_icon_image {
  display: none;
}

.book_appointment_person_input .book_appointment_pencil_active_image {
  display: none;
  float: right;
  max-width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.book_appointment_person_input:hover {
  background: #EFF8FF;
  border: 2px solid #208CE1;
}

.book_appointment_person_input:hover .book_appointment_person_img {
  height: 56px;
  top: 0;
  left: 0;
  background: #daecf8;
}

.book_appointment_person_input:hover .book_appointment_person_img .book_appointment_person_icon_image {
  display: none;
}

.book_appointment_person_input:hover .book_appointment_person_img .book_appointment_person_active_icon_image {
  display: block;
}

.book_appointment_person_input:hover .book_appointment_pencil_icon_image {
  display: none;
}

.book_appointment_person_input:hover .book_appointment_pencil_active_image {
  display: block;
}

.book_appointment_person_input.active {
  background: #EFF8FF;
  border: 2px solid #208CE1;
}

.book_appointment_person_input.active .book_appointment_person_img {
  height: 56px;
  top: 0;
  left: 0;
  background: #daecf8;
}

.book_appointment_person_input.active .book_appointment_person_input_box {
  color: #208CE1 !important;
  font-weight: 500 !important;
}

.book_appointment_person_input.active .book_appointment_person_img .book_appointment_person_icon_image {
  display: none;
}

.book_appointment_person_input.active .book_appointment_person_img .book_appointment_person_active_icon_image {
  display: block;
}

.book_appointment_person_input.active .book_appointment_pencil_icon_image {
  display: none;
}

.book_appointment_person_input.active .book_appointment_pencil_active_image {
  display: block;
}

.book_appointment_person_input button:focus, .book_appointment_person_input button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.book_appointment_person_input .book_appointment_person_input_box {
  text-align: left;
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: normal;
  padding-left: 72px;
  letter-spacing: 0px;
  color: #162D43;
  opacity: 1;
  padding-right: 45px;
}

.book_appointment_person_input .book_appointment_pencil_icon_image {
  float: right;
  max-width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.book_appointment_person_input .book_appointment_arrow_icon_image {
  float: right;
  max-width: 20px;
  height: 14px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.book_appointment_continue_button {
  width: 100%;
  height: 60px;
  background: #208CE1;
  border-radius: 7px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: 1px solid #208CE1;
  margin-top: 10px;
}

.book_appointment_continue_button:hover {
  background: transparent;
  color: #208CE1;
}

@media screen and (max-width: 575px) {
  .book_appointment_person_input .book_appointment_person_input_box {
    font-size: 16px;
  }
  .book_appointment_continue_button {
    height: 55px;
    font-size: 17px;
  }
}
/*# sourceMappingURL=AppointmentPerson.module.css.map */