.c2md-header-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: red;
  padding: 1rem 3.5rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #0000000D;
          box-shadow: 0px 3px 6px #0000000D;
}

@media screen and (max-width: 1270px) {
  .c2md-header-container .for-web {
    display: none !important;
  }
  .c2md-header-container .for-tablet {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 1270px) {
  .c2md-header-container .for-web {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .c2md-header-container .for-tablet {
    display: none !important;
  }
}

.c2md-header-image-container_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c2md-header-image-container_left .hamburger-header {
  margin-right: 20px;
  cursor: pointer;
}

.c2md-header-image-container_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 1rem;
}

.c2md-header-image-container_nav li {
  margin-left: 18px;
  font-size: 14px;
  color: #0C1E4E;
  font-weight: 400;
}

.c2md-header-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
}

.c2md-header-buttons-container .c2md-header-signin-button {
  width: 150px;
  height: 40px;
  /* UI Properties */
  background: transparent;
  border: 1px solid #0C1E4E;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.c2md-header-buttons-container .download_app_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
  margin-left: 15px;
}

.c2md-header-buttons-container .download_app_container .download-app-text {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.c2md-header-buttons-container .download_app_container_icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c2md-header-buttons-container .download_app_container_icon_container .download_app_icon {
  margin-left: 15px;
}

.hamburger-menu {
  font-size: 14px;
  color: #0C1E4E;
  font-weight: 400;
  cursor: pointer;
}
/*# sourceMappingURL=header.css.map */