.doctor_mobile_span_heading{
    display: flex;
    .doctorProfileImg {
        width: 105px;
        img{
            max-width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
  
    .doctorProfiledesc {
        padding-left: 15px;
        width: calc(100% - 120px);
        .doctorProfilelogo {
            max-width: 124px;
            margin-bottom: 10px;
        }
    }
    h4{
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0px;
        color: #162D43;
        opacity: 1;
        display: flex;
        margin-bottom: 4px;
    }
    .cat_det {
        display: flex;
        flex-wrap: wrap;
    }
    .doctor_mobile_first_para{
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.15px;
        color: #011D29;
        margin: 0 0 3px;
        span {
            // display: -webkit-box;
            // -webkit-line-clamp: 1;
            // -webkit-box-orient: vertical;  
            // overflow: hidden;
            &:nth-child(1) {
               
                margin-right: 10px;
                padding-right: 10px;
                border-right: 1px solid #ccc;
            }
          
        }
     
        &:nth-child(2) {
          
            span {
                border-right: 0;
            }
           
        }
    }
 
    .doctor_mobile_second_para{
        width: 100%;
        letter-spacing: 0px;
        color: #162D43;
        font-weight: 600;
        font-size: 13px;
        margin: 0;
        .doctor_mobile_location_icon{
            margin-right: 10px;
            width: 10px;
            height: 14px;
          }
    }
  
    .doctor_mobile_tick_icon{
    margin-left: 5px;
    }
}
.doctorProfileProfsdesc {
    color: #162D43;
    font-weight: 500;
    font-size: 13px;
    padding: 15px 0;
}
.doctor_mobile_last_para{
    letter-spacing: 0px;
    color: #162D43;
    font-weight: 500;
    font-size: 13px;
    margin: 0 !important;
    display: flex;
    align-items: flex-start;
    img {
        margin-right: 10px;
        position: relative;
        top: 3px;
    }
    .doctor_mobile_lang {
       border-right: 1px solid #ccc;
        margin-right: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width:480px) {
  
    .doctor_mobile_last_para{
        font-size: 14px;
        .doctor_mobile_lang {
             margin-right: 10px;
             padding-right: 10px;
             width: auto;
         }
         span:nth-child(3) {
             width:auto;
         }
    }
    .doctor_mobile_span_heading{
        h4 {
            font-size: 17px;
        }
    }
    .cat_det {
        flex-direction: column;
    }
    .doctor_mobile_first_para{
        margin: 0 !important;
       span {
           border-right: 0 !important;
       }
    }
}
// @media screen and (max-width:430px) {
//     .cat_det {
//         flex-direction: column;
//     }
//     .doctor_mobile_first_para{
//         margin: 0 !important;
//        span {
//            border-right: 0 !important;
//        }
//     }
// }