.Header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: white !important;
  top: 0;
  box-shadow: 0px 3px 6px #0000000d;
  .navbar_bg {
    background-color: white !important;
    height: 80px;
    @media (max-width: 991px) {
      height: 67px;
    }
    .iconWrapper {
      span{
        margin-top: 4px;
      }
      img {
      margin-left: 10px;
    }
  }
  }
  .logoImg {
    opacity: 1;
    max-width: 165px;
  }
  .siginup_Btn {
    //margin-right: 18px;
    // margin-left: 15px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }
  :global .btn-outline-secondary {
    color: #162d43;
    font-weight: 500;
    margin-left: 25px;
    height: 39px;
    margin-right: 10px;
    &:hover {
      background-color: #208ce1;
      border-color: #208ce1;
      color: #fff;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .iconWrapper {
    display: flex;
    img {
      max-width: 125px;
    }
  }
  .mobiconWrapper {
    display: none;
  }
}
:global .navbar-light .navbar-nav .nav-link {
  color: #162d43;
  font-weight: 500;
  &.active,
  &:hover {
    color: #208ce1;
  }
}
:global .navbar-toggler {
  border: 0;
  padding: 0;
  &:focus {
    box-shadow: none;
  }
}
:global .nav-open .navbar-light {
  display: block;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  width: 90%;
  max-width: 374px;
  // overflow-x: hidden;
  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("../../../assets/icon-close.svg");
      background-size: 22px;
    }
  }
}
.fix-header {
  .Header {
    .navbar {
      position: fixed;
    }
  }
}
:global .nav-open {
  position: relative;
  &:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
  }
}
:global .navbar-nav {
  a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 22px;
    &.active {
      color: #208ce1;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1450px) {
  :global .navbar-nav {
    a {
      font-size: 14px;
    }
  }
  :global .navbar-brand img {
    max-width: 120px;
  }
  :global .navbar-light .navbar-nav .nav-link {
    margin-right: 15px;
  }
  .Header {
    :global .btn-outline-secondary {
      padding: 0 10px;
      height: 30px;
      font-size: 14px;
      margin-left: 0;
      margin-right: 5px;
    }

    .iconWrapper {
      img {
        max-width: 100px;
      }
    }
  }
  .Header {
    :global .btn-outline-secondary {
      max-width: 150px;
      font-size: 13px;
    }
    .navbar-light .navbar-nav .nav-link {
      font-size: 14px;
    }
  }
  :global .navbar-collapse {
    img {
      max-width: 25%;
    }
  }
}
:global .navbar-toggler {
  .navbar-toggler-icon {
    background-image: url("../../../assets/toggle-icon.svg");
  }
}
@media screen and (max-width: 1199px) {
  :global .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .Header {
    :global .btn-outline-secondary {
      max-width: 115px;
      font-size: 13px;
      padding: 5px 7px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  :global .navbar-brand img {
    max-width: 120px !important;
  }
  :global .navbar-nav {
    a {
      margin-right: 15px;
    }
  }
}
@media screen and (max-width: 991px) {
  :global .navbar-nav {
    margin-top: 50px;
    padding: 0 15px;
    a {
      padding-bottom: 10px;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
  .Header {
    .navbar_bg {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    :global .btn-outline-secondary {
      margin: 20px 15px 0;
      max-width: 150px;
      width: 100%;
      font-size: 15px;
      height: 40px;
    }
    .iconWrapper {
      img {
        margin: 0 10px 0 0 !important;
      }
    }
    .iconWrapper {
      display: none;
    }
    .mobiconWrapper {
      display: flex;
      align-items: center;
      padding: 100px 15px 0;
      // position: absolute;
      // bottom: 110px;

      span {
        font-size: 16px;
        font-weight: 500;
        color: #0c1e4e;
      }
      img {
        visibility: visible;
        opacity: 1;
        max-width: 100%;
        margin-left: 15px;
      }
    }
  }
  :global .navbar-brand img {
    max-width: 100px !important;
  }
  :global .navbar-collapse {
    position: fixed;
    top: 67px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 90%;
    &.collapsing {
      height: 100%;
      left: -75%;
      transition: height 0s ease;
    }
    &.show {
      height: 100%;
      left: 0;
      transition: left 600ms ease-in-out;
    }
  }

  :global .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 1ms ease-in;
  }
}
@media screen and (max-width: 480px) {
  .Header {
    .mobiconWrapper {
      img {
        margin-left: 10px;
      }
    }
  }
}
