.AddMoreContinue_align_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30.77px;
    width: 100%;
    .AddMoreContinue_add_more_button{
        border: 2px solid #C5CBCF;
        border-radius: 7px;
        opacity: 1;
        width: 100%;
        max-width: 48%;
        height: 60px;
        font-weight:500;
        font-size: 20px;
        letter-spacing: 0px;
        color: #536471;
        background: white;
        transition: all 0.5s ease;
        &:hover {
            background: #208CE1;
            border: 2px solid #208CE1;
            color: #fff;
        }
    }
    .AddMoreContinue_continue_button{
        max-width: 48%;
        width: 100%;
        height: 60px;
        background: #208CE1;
        border-radius: 7px;
        opacity: 1;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0px;
        color: #FFFFFF;
        border:none;
        border: 2px solid #208CE1;
        &:hover {
            background: transparent;
            color: #208CE1;
        }
    }
    .AddMoreContinue_button:hover{
        background: #EFF8FF;
        border: 2px solid #208CE1;
        color: #208CE1;
    
    }
}
@media screen and (max-width:575px) {
    .AddMoreContinue_align_buttons{ 
        margin-top: 0;
        .AddMoreContinue_add_more_button, .AddMoreContinue_continue_button {
            font-size: 17px;
        }
    }
}
