.consolidated-table {
   
      th{
        padding: 0rem 1rem !important;
        word-wrap: break-word;
        white-space: pre;
      
      }

    textArea {
        outline: 0px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
        width: 250px;
        background-color: white;
        padding: 0.5rem 0.8rem;

        &:focus {
            border: 1px solid rgb(0, 162, 255);
        }
    }
}

.consolidated-table-report {
    padding: 0px;
    margin: 0px;
   

    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        font-weight: 500;
        color: rgb(0, 162, 255);
        list-style: none;
        margin-right: 5px;


    }

    .add-report {
        display: flex;
        flex-direction: row;
        align-items: center;
       margin-left: 5px;
        font-size: 13px;
    }
}

.filter-button{

    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: normal;
    background-color: #F4F6F8;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;

    .icon{

        height: 35px;
        width: 35px;
        border-radius: 100px;
        background-color: #ffffff;
        margin-right: .9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      

    }

}
