$tablet-screen: 1145px;

$tablet-screen-small: 1017px;
.home-speciality-list-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    animation: zoomIn .5s none;

    .plus-vector-back1 {
        position: absolute;
        right: 65%;
        top: 10%
    }

    .plus-vector-back2 {

        position: absolute;
        right: 20%;
        top: 10%;
        height: 77px;
    }

    .home-speciality-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        .vector-container {
            width: 100%;
            text-align: end;
            padding-right: 10px;
        }
    }

    .home-page-speciality-button {

        width: 150px;
        height: 140px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 5px #1389FF1A;
        border-radius: 10px;
        opacity: 1;
        margin: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: .5s;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;

        &:hover {
            transform: scale(1.05);
            backface-visibility: hidden;


        }

       
        &_text {

            text-align: center;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.18px;
            color: #162D43;
            max-width: 110px;
            line-height: 1.25;
            margin-top: 5px;
        }

        .icon {
            margin-top: 10px;
        }

        @media screen and (max-width: $tablet-screen) {

            width: 120px;
            height: 100px;
            padding: 5px;

            &_text {

               
                font-size: 11px;
               
            }
          
        }

        @media screen and (max-width: $tablet-screen-small) {

            width: 100px;
            height: 100px;
            padding: 5px;

            &_text {

               
                font-size: 11px;
               
            }
          
        }

    }

    .view-all-speciality-button {
        background-color: #3E97DE;

        .home-page-speciality-button_text {
            color: white;
        }
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}