.signup_topSection {
  justify-content: center;
  background: #f5f6f8 url("../../../assets/siginup_bg.svg") 0% 0%;
  border-radius: 0;
  padding: 3%;
  display: flex;
  min-height: calc(100vh - 65px);
  height: auto;
  align-items: center;
  .signup_div {
    opacity: 1;
    background: white !important;
    max-width: 520px;
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width:1199px) {
  .signup_topSection {
    padding: 35px 15px;
    min-height: auto;
    // display: block;
  }
}
@media screen and (max-width:575px) {
  .signup_topSection {
   background: #fff;
  }
}