.Treatment {
  display: flex;
  box-shadow: 0px 3px 15px #0000000f;
  opacity: 1;
  max-width: 435px;
  width: 30%;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
  border: 2px solid #fff;
  transition: all 0.5s ease;
  .ImgStyle {
    padding-right: 20px;
    img {
      max-width: 50px;
    }
  }
  .TextStyle {
    .head {
      letter-spacing: 0.18px;
      color: #162d43;
      opacity: 1;
      font-size: 18px !important;
      font-weight: 600;
      margin: 0 0 3px;
    }
    .text1 {
      letter-spacing: 0.14px;
      color: #162d43;
      opacity: 0.6;
      font-size: 14px;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .text2 {
      font-size: 14px;
      letter-spacing: 0.14px;
      color: #162d43;
      opacity: 0.8;
      font-weight: 500;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
.Treatment:hover {
  cursor: pointer;
  box-shadow: 0px 3px 15px #0000000f;
  border: 2px solid #208ce1;
  opacity: 1;
  border-radius: 15px;
}
.mobhead {
  display: none;
  h6 {
    letter-spacing: 0.18px;
    color: #162d43;
    opacity: 1;
    font-size: 16px !important;
    font-weight: 600;
    margin: 0 0 20px;
 
  }
}
@media screen and (max-width: 1199px) {
  .Treatment {
    width: 46%;
  }
}
@media screen and (max-width: 991px) {
  .Treatment {
    margin-bottom: 15px;
    flex-direction: column;
    text-align: center;
    margin-right: 15px;
    width: 48%;
    padding: 20px 15px;
    &:nth-child(2n) {
      margin-right: 0;
    } 
    .ImgStyle {
      img {
        margin-bottom: 15px;
      }
    }
    .TextStyle {
      .head {
        display: none;
      }
      .text1,.text2 {
        -webkit-line-clamp: 2;
      }
    }
  }
  .mobhead {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .mobhead {
    h6 {
      min-height: 40px;
    }
  }
}
@media screen and (max-width: 480px) {
  .Treatment {
    width: 47.4%;
  }
}