.Speciality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 15px #0000000f;
          box-shadow: 0px 3px 15px #0000000f;
  opacity: 1;
  max-width: 435px;
  width: 30%;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 40px 30px 40px 30px;
  border-radius: 15px;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Speciality .shimmer {
  position: relative;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#f6f7f8), color-stop(10%, #f2f4f7), color-stop(20%, #f0f0f2), color-stop(30%, #f2f4f7), color-stop(40%, #f6f7f8), to(#f6f7f8));
  background-image: linear-gradient(to right, #f6f7f8 0%, #f2f4f7 10%, #f0f0f2 20%, #f2f4f7 30%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 200px;
  /* Animation */
  -webkit-animation-duration: 1s;
  /* Specifies style for element when animation isn't playing */
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.Speciality .ImgStyle {
  padding-right: 20px;
}

.Speciality .ImgStyle .imageBox {
  max-width: 50px;
  width: 50px;
  height: 50px;
}

.Speciality .TextStyle {
  width: 100%;
}

.Speciality .TextStyle .head {
  opacity: 1;
  margin: 0 0 3px;
  width: 120px;
  height: 20px;
}

.Speciality .TextStyle .text1 {
  opacity: 0.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 250px;
  width: 100%;
  height: 10px;
  margin-top: 7px;
}

.Speciality .TextStyle .SpecialityItems {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.Speciality .TextStyle .SpecialityItems .text2 {
  opacity: 0.8;
  margin: 0;
  max-width: 195px;
  width: 83%;
  height: 10px;
}

.Speciality:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 15px #0000000f;
          box-shadow: 0px 3px 15px #0000000f;
  border: 2px solid #208ce1;
  opacity: 1;
  border-radius: 15px;
}

.mobTextStyle {
  display: none;
}

@media screen and (max-width: 1199px) {
  .Speciality {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .Speciality {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px;
    width: 47%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 15px;
  }
  .Speciality:nth-child(2n) {
    margin-right: 0;
  }
  .Speciality .ImgStyle {
    padding-right: 0;
    padding-bottom: 15px;
  }
  .Speciality .ImgStyle .imageBox {
    margin: auto;
  }
  .Speciality .TextStyle .head {
    display: none;
  }
  .Speciality .TextStyle .text1 {
    margin-bottom: 6px;
    -webkit-line-clamp: 2;
    max-width: inherit;
    margin: 0 auto 10px;
  }
  .Speciality .TextStyle .text2 {
    max-width: inherit !important;
    margin: auto !important;
  }
  .Speciality .TextStyle .SpecialityItems {
    -webkit-line-clamp: 2;
  }
  .Speciality .mobTextStyle {
    display: block;
  }
  .Speciality .mobTextStyle h6 {
    letter-spacing: 0.18px;
    color: #162d43;
    opacity: 1;
    font-size: 16px !important;
    font-weight: 600;
    margin: 0 0 15px;
    min-height: inherit;
    position: relative;
    background: #f6f7f8;
    background-image: -webkit-gradient(linear, left top, right top, from(#f6f7f8), color-stop(10%, #f2f4f7), color-stop(20%, #f0f0f2), color-stop(30%, #f2f4f7), color-stop(40%, #f6f7f8), to(#f6f7f8));
    background-image: linear-gradient(to right, #f6f7f8 0%, #f2f4f7 10%, #f0f0f2 20%, #f2f4f7 30%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 200px;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: SpecialityList_shimmer__1tZk8;
    -webkit-animation-timing-function: ease-in-out;
    opacity: 1;
    margin: 0 auto 20px;
    width: 120px;
    height: 20px;
  }
}
/*# sourceMappingURL=SpecialityList.module.css.map */