.custome-drop-container{

    background-color: white;
    min-width: 100px;
    min-height: 35px;
    border-radius: 4px;

    font-size: 13px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px .8rem;
}

.custome-drop-down{

    background-color: rgb(253, 158, 158);
    min-width: 100px;
    min-height: 35px;
    border-radius: 4px;

    font-size: 13px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px .8rem;

    position: absolute;
}