@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 30%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 100px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 100px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.appontment-history-container{
  width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   position: relative;

   .pagination-container{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       margin-top: 1rem;
   }
 

   .header{
     
       border-bottom: 1px solid #E8EBED;
       width: 100%;
       padding: 0px .5rem;
       padding-top: .5rem;
       padding-bottom: 1.5rem;

       font-size: 19.5px;
       font-weight: 500;

       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;

       button {
        padding: 0.7rem 1.5rem;
        font-size: 16px;
        font-weight: normal;
        background-color: #f4f6f8;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        outline: 0px;
        border: 0px;

        .icon{
            border-radius: 100px;
            background-color: white;
            height: 35px;
            width: 35px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
        }
    }
      
   }
}

.pagination-container-mis-report {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;

  button {
      padding: 0.5rem 1rem;
      font-size: 16px;
      font-weight: normal;
      background-color: #f4f6f8;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      outline: 0px;
      border: 0px;

      .icon{
          border-radius: 100px;
          background-color: white;
          height: 40px;
          width: 40px;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
      }
  }
}


.todays_report_table_container {
  width: 100%;
  overflow-y: auto;
  min-height: 625px;
  @include scrollbars(10px, slategray);

  .appoinment-table{
    width: 100%;
    margin-top: 1rem;
    border-collapse:collapse;
    font-size: 13px;

    .dashboard-appointment-date-time{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span{
        margin: 5px 0px ;
      }

    }

    tr:nth-child(even) {
        background-color: #F5F7FB;

        .more-btn{
            background-color:#ffffff ;
         }
    }

    .more-btn{
        padding: .5rem .9rem;
        background-color:#F4F6F8 ;
        border: 0px;
        outline: 0px;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
     }

    th{
        text-align: start;
        font-size: 16px;
        font-weight: bold;
        background-color: #F5F7FB;
        height: 50px;
        padding: .2rem 1rem;
        border-spacing: 0;
        width: fit-content  ;
        flex-wrap: nowrap;

        white-space: nowrap;
        overflow: hidden;
      
    }

    td{
        text-align: start;
        font-size: 14px;
        height: 50px;
        padding: .5rem 1rem;
        border-spacing: 0;
        cursor: pointer;
        font-weight: 400;

        white-space: nowrap;
      
    }

   
}


table {
  tr {
    :nth-child(4) {
      // white-space: pre-wrap !important;
      // min-width: 149px;
    }

    :nth-child(5) {
      // white-space: pre-wrap !important;
      // min-width: 149px;
    }
  }

  textArea {
    outline: 0px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 250px;
    background-color: white;
    padding: 0.5rem 0.8rem;

    &:focus {
      border: 1px solid rgb(0, 162, 255);
    }
  }
}

}

.filter-button {
  .date-picker {
    width: 220px !important;
    margin-right: 0px !important;
  }
}
