.specialityListing_search_wrapper {
  box-shadow: 0px 3px 16px #0000000d;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 14px 14px 14px 14px;
  background-color: white;
  width: 100%;
  max-width: 815px;
  margin: 0 auto 30px;
  height: 80px;
  img {
    margin: 0px 10px 0px 10px;
  }
  input {
    outline: none;
    border: none;
    width: 100%;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 1;
    padding-right: 15px;
    &+div {
      max-width: 185px;
      width: 100%;
    }
  }
  :global .btn-primary {
    max-width: 185px;
    width: 100%; 
    border-radius: 8px;
    height: 52px;
    font-size: 20px;
    font-weight: 500;
  }
  input::placeholder {
    color: #c1c1c1;
    font-weight: 500;
  }
  .search_btn {
    float: right !important;
    font-weight: 500;
    background-color: #208ce1;
    border-color: #208ce1;
    opacity: 1;
    padding: 10px 40px 10px 40px;
    &:hover {
      background-color: #57a9ea !important;
    }
  }
}
@media screen and (max-width:991px) {
  .specialityListing_search_wrapper {
    display: none;
    input {
     font-size: 14px;
     &+div {
      max-width: 135px;
    }
    }
    .search_btn {
      padding: 10px 10px;
      max-width: 135px;
    }
  }
}
@media screen and (max-width:767px) {
  .specialityListing_search_wrapper {
    height: 60px;
    margin-top: 10px;
    input {
     &+div {
      max-width: 115px;
    }
    }
    .search_btn {
      padding: 5px 10px;
      max-width: 115px;
      height: 40px;
      font-size: 15px;
      border-radius: 5px;
    }
  }
}
@media screen and (max-width:480px) {
  .specialityListing_search_wrapper {
    input {
     &+div {
      max-width: 95px;
    }
    }
    .search_btn {
      max-width: 95px;

    }
    img {
      margin: 0px 5px 0 0;
    }
  }
}

